.input-box {
  border-radius: 10px;
  border-width: 1px;
  padding: 12px 15px;
  font-size: 15px;

  flex-grow: 1;
}

.send-button, .clear-button {
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  
}

.clear-button {
  background-color: rgb(223, 223, 223);
}

.input-container {
  display: flex;
  padding: 12px;
  margin-bottom: 50px;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}