.input-box {
  margin-right: 10px;
  border-radius: 10px;
  border-width: 1px;
  padding: 12px 15px;
  font-size: 15px;

  flex-grow: 1;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.input-container {
  display: flex;
  padding: 12px;
  margin-bottom: 50px;
}

.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.chat-message-pfp {
  width: 45px;
}

.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}
